@media only screen and (min-device-width: 500px) { 
	div.indented {
		margin-left: 2rem;
		margin-right: 2rem;
	}
}
div.centred {
	text-align: center;
}
div.loweralphalist ol { 
	list-style-type: lower-alpha;
	margin-left: 1.5rem;
}

a[rel='noopener noreferrer']::after {
	content: " 🡕"; /* ⇗ ⋙ ⌲ ⍈  ↪ 🔗 🡕 ⇗ */
	color: $accentColor;
	font-weight: bold;
}	


div.custom-block.tip {
	border-color: $badgeTipColor; 
}

blockquote p {
	color: $textColor;
	font-style: italic;
}